body{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #7189FF;
    color: #0D0628;
}

h1{
    margin: 20px;
}

#grade-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#grade-one-topics{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#teacher-student-question{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#store-topic{
    display: none;
}

button:active {
    background-color: #f8d400;
}

button{
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color:  #FFEE88;
    border-radius: 5px;
    border: solid 2px #0D0628;
}

#back-button{
    height: 40px;
    width: 40px;
    margin-top: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
}


@media (min-width: 769px) {
    button:hover {
        border-width: 3px;
        cursor: pointer;
    }
}



@media (min-width: 1025px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 32px;
    }

    button{
        height: 70px;
        width: 250px;
        font-size: 20px;
    }

    button:hover {
        border-width: 3px;
        cursor: pointer;
    }
}