#start-button{
    width: 100px;
}

#tick-button {
width: 50px;
}

#cross-button {
    width: 50px;
    }


#score-panel{
    border: solid 3px #000;
    height: 50px;
    width: 70px;
   padding: 10px 10px;
}

#timer {
    border: solid 2px #000;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 5px 5px;
}